spring:
  application:
    name: CollectManagement
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3306/school_management
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update



# Define the token paths correctly
token:
  private: keys/token/private
  public: keys/token/public

# Logging Configuration
logging:
  level:
    org:
      springframework:
        security: DEBUG


springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /api/docs
    operationsSorter: method
    tagsSorter: alpha

